/* Gobal */

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}
.btn{
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.feture-common{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
/* Banner section */
.head{
    background-color: #E554731A;


    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 100px;

    
}
.banner-content{
    width: 700px;
}
.bannner-image img{
    width: 635px;
    height: 800px;
    margin-bottom: -117px;
}
.banner-content h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;

}

.banner-content p{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 664px;
}

.feture{

    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 200px 0px;
    width: 1440px;
    margin: 0 auto;
}
.feture-p{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    display: inline-flex;
    margin-bottom: 20px;
}
/* Feture section */
.image{
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    margin-top: 20px;
    margin: 0 auto;
    
}

.feture-image1, .feture-image2, .feture-image3{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 310px;
    height: 310px;
    display: block;
    
}
.feture-image1 {
    background-color: #A7216226;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.feture-image1 img{
    padding-top: 40px ;
    height: 270px;
    width: auto;
   
}
.feture-image2{
    background-color: #0597A026;
   
}
.feture-image2 img{
    padding-top: 40px ;
    height: 270px;
    width: auto;
  

}

.feture-image3{
    background-color: #477D1126;
   
}
   
.feture-image3 img{
    padding-top: 40px ;
    height: 270px;
    width: auto;
   
}

.img-text{
    margin: 10px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Service section */

.service{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 1440px;
    background-color: #0301010d;
    border-radius: 8px;
    padding: 80px 0px;
    align-items: center;
    margin: 0 auto;
    text-align: center;

}
.service p{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    color: #272727CC;
}
/* hot-deal section */

.hot-deal{
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
    background-color: #E554730D;
    margin-top: 128px;
    
}
.feture-common span{
    color: #E55473;
}
.hot-deal-contain p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #27272799;
}
.hot-deal-contain{
    width: 594px;
    align-items: center;
    text-align: center;
}

/* insta section */
.instra{
    padding-top: 120px;
}
.insta-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.insta-content p{
    width: 594px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #27272799;
  
}

.insta-image{
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* Subcribe section*/
.Subcribe{
    background-image: url(background/Rectangle9.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
}

.Subcribe{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 121px;
    padding-bottom: 121px;
    margin-top: 120px;
}
.sub-container p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color:  #27272799;
}
.sub-container input{
    padding: 23px 513px 22px 22px;
    border: none;
    margin-right: 22px;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #27272799;
}

/* Blog Section */
.blog{
    width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
}
.blog-items{
    text-align: center;
    
    
}
.blog-items p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #27272799;
}
.main-blog{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.blog-container img{
    height: auto;
    width: 100%;
}
.blog-text{
    margin-top: -24px;
    background-color: #E55473;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
}
.blog-text h3{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.blog-text p{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    
}
.blog-text span{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    text-decoration: underline;
}
/* footer section */
.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #111010;
    padding-top: 128px;
    padding-bottom: 128px;
    margin-top: 120px;

}
.footer-container h2{
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}
.footer-container h2 span{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
}
.footer-container p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFFE5;
    width: 625px;
}
.footer-container h6{
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF66;

}